.card{
    background-color: $color-white;
    border: 1px solid $color-lightgrey;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    min-width: 175px;
    max-width: fit-content;
    @include box-shadow(8px -3px 8px -10px #1e1e1e);
    &:hover{
        padding: 5px;
        cursor: pointer;
    }
}

.card-selected{
    border: 2px solid $color-blue;
    @extend .card
}

.fab{
    visibility: hidden;
}

.fab-selected{
    visibility: visible;
}

.players{
    display: inline-flex;
    flex-wrap: wrap;
    .position{
        color: $color-grey;
    }
}

