.div-select{
  margin-top: 20px;
}

#select{
  width: 100px;
}

.player-select{
  display: inline-flex;
  justify-content: center;
}

.player-chips{
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: -5px;
}

.MuiFormControl-root css-2m9kme-MuiFormControl-root{
  margin: 8;
  margin-left: 0px;
}

.chip{
  margin-bottom: 10px;
}





