// COLORS

$color-white: #FFFFFF;
$color-lightgrey: #E1E1E1;
$color-grey: grey;
$color-blue: #0fc0fc;
$color-black:#1e1e1e;

//FONT-FAMILY TYPES

$font-family: 'adidas';
$font-family-bold: 'adidas-bold';
$font-family-bolditalic: 'adidas-bolditalic';
$font-family-italic: 'adidas-italic';

$headerHeight: 80px;