@import 'mixins';
@import 'vars';
@import 'font';

@import 'header';
@import 'select';


body{
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
}

#root{
  margin-top: 10px;
  margin-left: 5%;
}

.div-body{
  display: grid;
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
}

.create{
  width: 75%;
}

form{
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.your-team{
  // border-left: 1px solid $color-lightgrey;
  padding-left: 20px;
  width: 25%;
  padding-top: 100px;
  height: 100vh;
}

h1,h2,h3,h4,h5,h6{
  font-family: $font-family;
}

p{
  font-family: $font-family;
}

.title{
  margin-top: 100px;
  font-size: 20pt;
}

.button{
  background-color: $color-black;
  color: $color-white;
  padding: 6px 5px;
}





